@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko&display=swap');

*, html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#000000;
    font-size: 1.03em;
    font-family: "Poppins", sans-serif;
    /* background-color: white; */
}

body.main{
    background-color: #f9f9f9;
    /* min-height: calc(100vh - 40px); */
}

span{
    color: orangered;
}

.fcon{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    /* height: 80vh; */
    /* background-color: #FFF685; */
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #27374D;
    /* background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1), #F3D250, #F3D250, #F3D250, rgba(0, 0, 0,0.5)); */
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
    padding-right: 5%;
    padding-left: 5%;
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.fname{
    color: white;
    font-weight: 700;
}

.lname{
    color: crimson;
    font-weight: 400;
    padding-left: 4px;
}

.navlink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink>li{
    list-style: none;
    padding: 5px;
}

.navlink>li>a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
}

.navlink>li>a:hover{
    color: #526D82;
    transition: all 0.3s ease-in-out;
}

.download{
    background-color: #526D82;
    border-radius: 20px;
    padding: 7px;
}

.download:hover{
    background-color: #526D82;
    color: #27374D !important;
}

footer{
    font-style: italic;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #14213d;
    position: absolute;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

div.main{
    padding: 20px;
    background-color: #9DB2BF;
    /* background-color: rgba(0, 0, 0, 0.1) !important; */
    min-height: 101vh;
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}
}

.over{
    align-items: center;
    display: flex;
    justify-content: center;
}

.ovw{
    min-width: 400px;
    background-color: #ffffff;

    border-radius: 20px;
    text-align: center;
    max-width:700px;
    background: rgba( 255, 255, 255, 0.25 );
}

.sola{
    /* width: 1000px; */
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 8px rgba(51, 51, 51, 0.4);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(12,12,12,0.9);
    -moz-box-shadow: 8px 0px 8px 8px rgba(12,12,12,0.9);
    
}

.ovw#about{
    margin-top: 10px;
}

h1{
    font-size: xx-large;
}

.aboutf{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

table{
    border: none !important;

}
table, div.table th, div.table td{
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
}

.irow{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.igroup{
    text-align: left;
    flex-basis: 45%;
    margin: 10px 10px;
    font-size: large;
}

.igroup input{
    padding-bottom: 5px;
    font-size:x-small;
    border: none;
    width: 200px;
    border-bottom: 1px solid #333333;
    outline: none;
}

.contact textarea{
    width: 100%;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
    box-sizing:border-box;
    resize: none;
    margin-bottom: 5 !important;
}

.contact button{
    background-color: #27374D;
    color: #fff;
    padding: 5px 14px;
    margin-top: 1px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}


.contact button:hover{
    background-color: antiquewhite;
    color: #333333;
    transition: all ease-in-out 0.3s;
}

div#contact{
    background-color: azure !important;

}

#contact td{
    text-align: left;
    padding: 2px;
}

/* .table table th, td {
    padding: 8px;
    border: 2px solid #0088a9;
    border-radius: 10px;
  } */

ul>li, th{
    color: black;
    list-style: none;
}

form>input, form>textarea{
    background-color: #F2F2F2;
}

.ha1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
