@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: black;
  --primary-color-dark: black;
  --secondary-color: black;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #fff;
  --dark-mode: #424242;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #424242;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #424242;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--extra-light);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: white;
  border-bottom-color: white;
  color: white;
}

.section {
  background-color: var(--dark-mode);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  background-color: var(--dark-mode);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: white;
  margin-bottom: 2rem;
}

.action__btns {
  height: 80%;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.hire__me {
  background-color: white;
  color: white;
  border: 1px solid white;
}

.hire__me:hover {
  background-color: #424242;
  color: white;
  border: 1px solid white;
}

.portfolio {
  color: black;
  border: 1px solid white;
}

.portfolio:hover {
  background-color: var(--dark-mode);
  color: white;
  border: 1px solid white;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--dark-mode);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
